<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.Account.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Account.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>Controller.Account.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.View.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>Controller.View.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.Account.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.View.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerHomepageController</servlet-name>
        <servlet-class>Controller.Manager.ManagerHomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductController</servlet-name>
        <servlet-class>Controller.Manager.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddProductController</servlet-name>
        <servlet-class>Controller.Manager.ManagerAddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDeleteProduct</servlet-name>
        <servlet-class>Controller.Manager.ManagerDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUpdateProductController</servlet-name>
        <servlet-class>Controller.Manager.ManagerUpdateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/auth/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/auth/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/auth/login</url-pattern>
        <url-pattern>/auth/LoginWithGoogle</url-pattern>
        <url-pattern>/view/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/view/HomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/auth/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/view/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerHomepageController</servlet-name>
        <url-pattern>/manager/ManagerHomepageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductController</servlet-name>
        <url-pattern>/manager/ManagerProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddProductController</servlet-name>
        <url-pattern>/manager/ManagerAddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDeleteProduct</servlet-name>
        <url-pattern>/manager/ManagerDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUpdateProductController</servlet-name>
        <url-pattern>/manager/ManagerUpdateProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
